#URL rewrites for ALL pages that end in php, saves time
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# HTTP Domain Redirects (Now using "Redirect permanent / https://peercoin.net/" in Apache's VirtualHost with aliases for net com org)
# RewriteCond %{HTTP_HOST}    !^peercoin\.net [NC]
# RewriteCond %{HTTP_HOST}    !^$
# RewriteRule ^/(.*)  http://peercoin.net/$1 [L,R=301]

# HTTP to HTTPS rewrite	(Now using "Redirect permanent / https://peercoin.net/" in Apache's VirtualHost with aliases for net com org)
# RewriteCond %{HTTPS} off		
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# pretty view rewrite rule for single page views of tabbed content. sytax will be.net/page/[param(which is the id of the php page we want]
RewriteRule ^/?page/([^/d]+)/?$ single.php?doc=$1 [L,QSA]

#Error Documents for pages that don't exist yet
ErrorDocument 404 404
